package main

import (
	_ "net/http/pprof"

	"github.com/fghosth/lile"
	"github.com/lileio/logr"
	"google.golang.org/grpc"
	"{{ .ModuleName }}"
	"{{ .ModuleName }}/server"
	"{{ .ModuleName }}/{{ .Name }}/cmd"
)

func main() {
	logr.SetLevelFromEnv()
	s := &server.{{ .CamelCaseName }}Server{}

	lile.Name("{{ .Name }}")
	lile.Server(func(g *grpc.Server) {
		{{ .Name }}.Register{{ .CamelCaseName }}Server(g, s)
	})


	cmd.Execute()
}
